@model IEnumerable<Przuchodnia_Medyczna_Inz.Models.Wizyta>

@if(Model != null){
    if(Model.Count() != 0)
    {
        
<table class="table">
    <tr class="head-table">
        <th>Lekarz</th>
        <th>Data</th>
        <th>Godzina</th>
        <th>Adres</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pracownik.ImieNazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godzina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pracownik.Placowka.Adres.FullAdres)
            </td>
            <td>
                @Html.ActionLink("Rezerwuj", "Rezerwacja", new { id=item.WizytaID })
            </td>
        </tr>
    }
    </table>
}
else
{
    <div class="col-md-8 col-md-offset-4">
        <h2 class="head-table">Brak terminów dla podanych kryteriów</h2>
    </div>
 
}
}