@model Przuchodnia_Medyczna_Inz.Models.Wizyta

@{
    ViewBag.Title = "Rezrwacja";
}

@using (Html.BeginForm()) 
{
<br />
<h2>Rezerwacja wizyty lub badania</h2>
<br />
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div style="margin-left: 140px;">
            <div class="btn-group add-check" data-toggle="buttons">
                <label class="btn btn-lg btn-primary active">
                    <input type="radio" name="Lekarz" id="Internista" onchange="radioBtnChanged(this)" autocomplete="off" checked>Lekarz Internista
                </label>
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="Lekarz" id="Kardiolog" onchange="radioBtnChanged(this)" autocomplete="off"> Lekarz Kardiolog
                </label>
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="Lekarz" id="Ortopeda" onchange="radioBtnChanged(this)" autocomplete="off"> Lekarz Ortopeda
                </label>
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="Lekarz" id="Laryngolog" onchange="radioBtnChanged(this)" autocomplete="off"> Lekarz Laryngolog
                </label>
                <label class="btn btn-lg btn-primary">
                    <input type="radio" name="Lekarz" id="Psychiatra" onchange="radioBtnChanged(this)" autocomplete="off"> Lekarz Psychiatra
                </label>
            </div>
        </div>
        <hr />
        <div class="container" style="background-color: #309BBE; color: white; border-radius: 15px;">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3" style="margin-left: 30px;">
                        <div class="col-md-offset-4">
                            <p>Wybierz termin</p>
                        </div>
                        <h4>Data od</h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar text-info"></i>
                            </span>
                            <input type="text" name="startDate" value="@TempData["startDate"]" class="form-control" />
                        </div>
                        <h4>Data do</h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar fa fa-calendar text-info"></span>
                            </span>
                            <input type="text" name="endDate" value="@TempData["endDate"]" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-offset-3">
                        &nbsp;<input class="btn btn-default btn-md" type="submit" value="Szukaj" style="margin-top: 37px;" />
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
        <br /><br />
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>

<script type="text/javascript">
     $(function(){
         $('.input-group input[name="startDate"]').daterangepicker(
        {
            //startDate: moment().subtract(29, 'days'),
            locale: {
                format: 'DD/MM/YYYY H:mm'
            },
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 30,
            showDropdowns: true,
            daysOfWeekDisabled: [0, 6],
            singleDatePicker: true

        })
         $('.input-group input[name="endDate"]').daterangepicker(
        {
            //endDate: moment().subtract(-7, 'days'),
            locale: {
                format: 'DD/MM/YYYY H:mm'
            },
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 30,
            showDropdowns: true,
            daysOfWeekDisabled: [0, 6],
            singleDatePicker: true
        })
         var startDate = $(".input-group input[name='startDate']").val();
         var endDate = $(".input-group input[name='endDate']").val();
         start = startDate.split('/');
         end = endDate.split('/');
         var st = Number(start[2] + start[1] + start[0])
         var nd = Number(end[2] + end[1] + end[0])

         if (st > nd) {
             $('.input-group input[name="endDate"]').css("border-color","red");
             alert("Data Od("+startDate+") nie może byc późniejsza od daty Do("+endDate+").");
         }
     });

     function radioBtnChanged(control) {
         debugger;
         var checkedValue = "";
          if(control.checked) {
                 checkedValue = control.id;    
         }

         $.ajax({
             url: '@Url.Action("Create", "Wizyta")',
             data: { "lekarz": checkedValue },
             type: 'GET',
         }).success(function (result) {
             
         });
     }
    </script>
