@model Przuchodnia_Medyczna_Inz.Models.Wizyta

@{
    ViewBag.Title = "Rezrwacja";
}

<h2>Rezerwacja Wizyty</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(model => model.Pacjent.OsobaID, new { OsobaID = ViewBag.OsobaID })*@
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.PacjentID, "Pacjent", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Klient"))
                {
                    @*@Html.HiddenFor("PacjentID", (string)ViewBag.PacjentID)*@
                    <input name="PacjentID" id="PacjentID" value="@ViewBag.PacjentID" />
                }
                else{
                     @Html.DropDownList("OsobaID", (SelectList)ViewBag.OsobaID,  new { @class="form-control"})
                }
               
                @Html.ValidationMessageFor(model => model.PacjentID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Uwagi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Uwagi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Uwagi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { @class = "form-control datecontrol" })
                @Html.ValidationMessageFor(model => model.Data)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Godzina, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Godzina, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Godzina)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>
