@model IEnumerable<Przuchodnia_Medyczna_Inz.Models.Wizyta>

@{
    ViewBag.Title = "Dodaj wizyte";
}
<br />
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["Success"]</strong>
    </div>
}
<div class="container">
    <div class="row" style="margin-right: 20px;">
        <div class="col-md-2 col-md-offset-10">
            <a href="@Url.Action("Create", "Wizyta")" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Umów wizytę lub badanie
            </a>
        </div>
    </div>
</div>
<br />
@using(Html.BeginForm("Index", "Wizyta", FormMethod.Post)){
<div class="container" style="background-color: #309BBE; color: white; border-radius: 15px;">
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <br />
                <h4>Data od</h4>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar text-info"></i>
                    </span>
                    <input type="text" name="startDate" value="@TempData["startDate"]" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <br />
                <h4>Data do</h4>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar fa fa-calendar text-info"></span>
                    </span>
                    <input type="text" name="endDate" value="@TempData["endDate"]" class="form-control" />
                </div>
            </div>
            <div class="col-md-offset-3">
                <button style="margin-top: 4.3%;" class=" btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Szukaj
                </button>
            </div>
            <br />
        </div>
    </div>
</div>
}

<br />
@if (@ViewBag.Wizyty > 0) { 
    <table class="table">
        <tr class="head-table">
            <th>Data</th>
            <th>Godzina</th>
            <th>Lekarz</th>
            <th>Specjalizacja</th>
            <th>Adres</th>
            <th></th>
        </tr>    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godzina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pracownik.ImieNazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pracownik.Specjalizacja.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pracownik.Placowka.Adres.FullAdres)
            </td>
            <td>
                @Html.ActionLink("Anuluj", "Delete", new { id=item.WizytaID })
            </td>
        </tr>    
    }
</table>
}
else
{
    <div class="col-md-8 col-md-offset-4">
        <h3>Nie masz zarezerwowanych wizyt.</h3>
    </div>
}
@if (HttpContext.Current.User.IsInRole("Admin"))
{
<div id="termin-add" class="modal fade hidden-print" tabindex="-1" role="dialog">
    @Html.Partial("_TerminCreate", new Przuchodnia_Medyczna_Inz.Models.Wizyta())
</div>
}
<script type="text/javascript">
    $(function(){
        $('.input-group input[name="startDate"]').daterangepicker(
       {
           startDate: moment().subtract(2, 'days'),
           locale: {
               format: 'DD/MM/YYYY',
           },
           showDropdowns: true,
           daysOfWeekDisabled: [0, 6],
           singleDatePicker: true

       })
        $('.input-group input[name="endDate"]').daterangepicker(
       {
           endDate: moment().subtract(-7, 'days'),
           locale: {
               format: 'DD/MM/YYYY',
           },
           showDropdowns: true,
           daysOfWeekDisabled: [0, 6],
           singleDatePicker: true
       })
        var startDate = $(".input-group input[name='startDate']").val();
        var endDate = $(".input-group input[name='endDate']").val();
        start = startDate.split('/');
        end = endDate.split('/');
        var st = Number(start[2] + start[1] + start[0])
        var nd = Number(end[2] + end[1] + end[0])

        if (st > nd) {
            $('.input-group input[name="endDate"]').css("border-color","red");
            alert("Data Od("+startDate+") nie może byc późniejsza od daty Do("+endDate+").");
        }
    });
</script>