@model Przuchodnia_Medyczna_Inz.Models.Pracownik

@if(Model != null){
<div class="col-md-10 col-md-offset-1">
    <br />
    <h4 class="sub-title">Umówione wizyty:</h4>
    <br />
    <div class="wrapper">
        <table class="table termin-table" id="terminy">
            <tr>
                <th>Data</th>
                <th>Godzina</th>
                @if(Request.IsAuthenticated && User.IsInRole("Administrator"))
                {
                 <th>Lekarz</th>
                }
                <th>Pacjent</th>
                <th>Pesel</th>
                <th>Uwagi</th>
                <th></th>
                <th></th>
                @*<th></th>*@
            </tr>
            @foreach (var item in Model.Wizyty.Where(x => x.PacjentID != null
                && x.Status == Przuchodnia_Medyczna_Inz.Models.Status.Zaplanowana))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Godzina)
                    </td>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                     <td>
                        @Html.DisplayFor(modelItem => item.Pracownik.ImieNazwisko)
                    </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Pacjent.ImieNazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pacjent.Pesel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uwagi)
                    </td>
                    <td></td>
                    @if(Request.IsAuthenticated && User.IsInRole("Lekarz")){
                    <td>                      
                        <a href="@Url.Action("Edit", "Wizyta", new { id = item.WizytaID })" data-toggle="modal" data-target="#diagnoza-add" title="Postaw diagnozę">
                            <i class="fa fa-heartbeat" style="font-size:24px"></i>
                        </a>
                    </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
}
