@model Przuchodnia_Medyczna_Inz.Models.Pracownik

@{
    ViewBag.Title = "Delete";
}

<h2>Zwolnienie</h2>

<h3>Czy Napewno chcesz zwolnić pracownika?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adres.FullAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres.FullAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZatrudnienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZatrudnienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pensja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pensja)
        </dd>    

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index", new { stanowisko = @ViewBag.StanowiskoNazwa })
        </div>
    }
</div>
