@model Przuchodnia_Medyczna_Inz.Models.Pracownik

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdresID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataZatrudnienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataZatrudnienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pensja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pensja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grafik.GrafikID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grafik.GrafikID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specjalizacja.PracownikID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specjalizacja.PracownikID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stanowisko.PracownikID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stanowisko.PracownikID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zatrudnienie.Uwagi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zatrudnienie.Uwagi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
