@model Przuchodnia_Medyczna_Inz.ViewModel.PracownikVM

@{
    ViewBag.Title = "Lekarze";
}

<h2>Lista Lekarzy</h2>

<p>
    @Html.ActionLink("Dodaj Lekarza", "NowyLekarz")
</p>
<table class="table">
    <tr>
        <th>Imie Nazwisko</th>
        <th>PESEL</th>
        <th>Telefon</th>
        <th>Specjalizacja</th>
        <th>Adres</th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Pracownicy.Count(); i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Pracownicy.ElementAt(i).ImieNazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Pracownicy.ElementAt(i).PESEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Pracownicy.ElementAt(i).Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Pracownicy.ElementAt(i).Specjalizacja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Pracownicy.ElementAt(i))
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Adresy.ElementAt(i).FullAdres)

            </td>
            <td>

                @Html.ActionLink("Wizyty", "Wizyty", new { id = Model.Pracownicy.ElementAt(i).OsobaID }) |
                @Html.ActionLink("Edytuj", "Edit", new { id = Model.Pracownicy.ElementAt(i).OsobaID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = Model.Pracownicy.ElementAt(i).OsobaID })
            </td>
        </tr>
    }
@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdresID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZatrudnienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pensja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grafik.GrafikID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specjalizacja.PracownikID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stanowisko.PracownikID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zatrudnienie.Uwagi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OsobaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OsobaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OsobaID })
        </td>
    </tr>
}*@

</table>
