@model Przuchodnia_Medyczna_Inz.Models.Pracownik

@{
    ViewBag.Title = "Terminy";
}
<style>
    tr:nth-child(even) {
        background-color: rgba(163, 226, 254, 0.24);
    }
</style>
<div class="col-md-8 col-md-offset-4">
    <br />
    <h2 class="title">Terminy</h2>
</div>
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.OsobaID)
<div class="container">
    <div class="row">
@if (User.Identity.IsAuthenticated && User.IsInRole("Lekarz"))
{
    <div class="col-md-2 col-md-offset-10">
        <a data-target="#termin-add" data-toggle="modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Dodaj Termin
        </a>
    </div>
}
@if(Request.IsAuthenticated && !(User.IsInRole("Administrator")))
{
     <h4 class="sub-title">Pracownik:</h4>
        <hr />
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    <b>Imie Nazwisko</b>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ImieNazwisko)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telefon)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefon)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Pesel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pesel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Specjalizacja)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Specjalizacja.Nazwa)
                </dd>
                <br />
                <b class="sub-title">Adres</b>
                <dt>
                    @Html.DisplayNameFor(model => model.Adres.Ulica)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Adres.Ulica) @Html.DisplayFor(model => model.Adres.NrBudynku)/@Html.DisplayFor(model => model.Adres.NrMieszkania)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Adres.KodPocztowy)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Adres.KodPocztowy) @Html.DisplayFor(model => model.Adres.Miejscowosc)
                </dd>
            </dl>
        </div>
}
else
{
      <div class="col-md-3">

      </div>
}
        <div class="col-md-6">
            <h4 class="sub-title">Terminy wolnych wizyt :</h4>
            <br />
            <div class="wrapper">
                <table class="table termin-table" id="terminy">
                    <tr>
                        <th>Data</th>
                        <th>Godzina</th>
                        @if(Request.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                        <th>Lekarz</th>
                        }
                        <th>Uwagi</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Wizyty.Where(x => x.PacjentID == null))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Godzina)
                            </td>
                            @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pracownik.ImieNazwisko)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Uwagi)
                            </td>
                            <td></td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <td>
                               <a href="@Url.Action("Delete", "Wizyta",new { id = item.WizytaID })" title="Usuń termin">
                                   <i class="fa fa-remove" aria-hidden="true" style="font-size: 25px; color:red;"></i>
                               </a>
                                    </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
        @Html.Partial("_Wizyty")
    </div>
</div>
@if (!(User.IsInRole("Lekarz")))
{
<a href="@Url.Action("Index", "Pracownik", new { stanowisko = @ViewBag.StanowiskoNazwa })" title="Powrót">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size: 25px;"></span>
</a>
}
else
{
    <a href="@Url.Action("Index", "Home")" title="Powrót">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size: 25px;"></span>
</a>
}
<div id="termin-add" class="modal fade hidden-print" tabindex="-1" role="dialog">
    @Html.Partial("_TerminCreate", new Przuchodnia_Medyczna_Inz.Models.Wizyta())
</div>
<div id="diagnoza-add" class="modal fade hidden-print" tabindex="-1" role="dialog">
    @Html.Partial("_NewDiagnoza", new Przuchodnia_Medyczna_Inz.Models.Wizyta())
</div>

<script>
    function TerminAdd() {
        var data = document.getElementById("Data").value;
        var godzina = document.getElementById("timepicker1").value;
        var uwagi = document.getElementById("Uwagi").value;
        var idsd =  document.getElementById("Id").value;

        $.ajax({
            url: '@Url.Action("CreateTermin", "Wizyta")',
            data: { "data": data, "godzina": godzina, "uwagi": uwagi, "Id": idsd},
            type: 'Post',
        }).success(function (result) {
           
            $(document).ajaxStop(function () { location.reload(true); });
        });
    }

    function DiagnozaAdd() {
        var diagnoza = document.getElementById("Diagnoza").value;
        var wizytaId = document.getElementById("WizytaID").value;
        var pracId = document.getElementById("OsobaID").value;

        $.ajax({
            url: '@Url.Action("Diagnoza", "Wizyta")',
            data: { "diagnoza": diagnoza, "Id": wizytaId},
            type: 'Post',
        }).success(function (result) {
            $(document).ajaxStop(function () { location.reload(true); });
        });
    }
</script>