@model Przuchodnia_Medyczna_Inz.Models.Wizyta

@Html.ValidationSummary(true)
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title title" style="font-size:25px;">Diagnoza </h4>
            </div>
            @using(Html.BeginForm("Edit", "Wizyta", FormMethod.Post))
            {
            <div class="modal-body">
                @Html.HiddenFor(model => model.Pacjent.OsobaID)
                @Html.HiddenFor(model => model.WizytaID)
                <div class="form-group">
                    <label class="control-label col-md-3">Pacjent</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Pacjent.ImieNazwisko, new { @class = "form-control", @readOnly = "true" })
                        @Html.ValidationMessageFor(model => model.Pacjent.ImieNazwisko)
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Pacjent.Pesel, new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Pacjent.Pesel, new { @class = "form-control", @readOnly="true" })
                        @Html.ValidationMessageFor(model => model.Pacjent.Pesel)
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Diagnoza, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Diagnoza, new { @class = "form-control", @cols = 50, @rows = 20 })
                        @Html.ValidationMessageFor(model => model.Diagnoza)
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer" style="margin-top: 380px;">
                <button class="btn btn-success" onclick="DiagnozaAdd()">Zapisz</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
            </div>
            }
        </div>
    </div>
</div>
