@model Przuchodnia_Medyczna_Inz.ViewModel.AdresyOsobVM

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj Pacjenta</h2>


@using (Html.BeginForm("Create", "Pacjent", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br/>
        <h4>Pacjent</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Imie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Imie, new { @class = "form-control", @placeholder = "Imie" })
                @Html.ValidationMessageFor(model => model.Imie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nazwisko, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nazwisko, new { @class = "form-control", @placeholder = "Nazwisko" })
                @Html.ValidationMessageFor(model => model.Nazwisko)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control", @placeholder = "Numer telefonu" })
                @Html.ValidationMessageFor(model => model.Telefon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PESEL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PESEL, new { @class = "form-control", @placeholder = "Numer PESEL" })
                @Html.ValidationMessageFor(model => model.PESEL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NIP, new { @class = "form-control", @placeholder="np. 123-132-32-12" })
                @Html.ValidationMessageFor(model => model.NIP)
            </div>
        </div><br/>
    
        <h2>Adres</h2>

        <hr />
       
        <div class="form-group">
            @Html.LabelFor(model => model.Ulica, "Ulica", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Ulica, new { @class = "form-control", @placeholder= "Ulica"})
                @Html.ValidationMessageFor(model => model.Ulica)
            </div>
        
            @Html.LabelFor(model => model.NrBudynku, "Nr Bud.", new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.TextBoxFor(m => m.NrBudynku, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NrBudynku)
            </div>        
        
            @Html.LabelFor(model => model.NrMieszkania, "Nr Lokalu", new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.TextBoxFor(m => m.NrMieszkania, new { @class = "form-control", @placeholder = "nr lokalu" })
                @Html.ValidationMessageFor(model => model.NrBudynku)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.KodPocztowy, "Kod Pocztowy", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.KodPocztowy, new { @class = "form-control", @placeholder = "Kod Pocztowy" })
                @Html.ValidationMessageFor(model => model.KodPocztowy)
            </div>
            @Html.LabelFor(model => model.Miejscowosc, "Miejscowość", new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Miejscowosc, new { @class = "form-control", @placeholder ="Miejscowość" })
                @Html.ValidationMessageFor(model => model.Miejscowosc)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
