@model Przuchodnia_Medyczna_Inz.Models.RegisterViewModel

@{
    ViewBag.Title = "Create";
}
<div class="col-md-8 col-md-offset-4">
    <br />
    <h2 class="title">Dodaj Pacjenta</h2>
    <br />
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-11 col-md-offset-1">
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
        </diV>
    
    <h3 class="sub-title">Dane Personalne:</h3>
    <hr />
     <div class="col-md-11 col-md-offset-1">
    <div class="form-group">
        @Html.LabelFor(model => model.AdresyOsob.Pacjent.Imie, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AdresyOsob.Pacjent.Imie, new { @class = "form-control", @placeholder = "Imie" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Pacjent.Imie)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdresyOsob.Pacjent.Nazwisko, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AdresyOsob.Pacjent.Nazwisko, new { @class = "form-control", @placeholder = "Nazwisko" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Pacjent.Nazwisko)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdresyOsob.Pacjent.Telefon, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AdresyOsob.Pacjent.Telefon, new { @class = "form-control", @placeholder = "Numer telefonu" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Pacjent.Telefon)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdresyOsob.Pacjent.Pesel, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AdresyOsob.Pacjent.Pesel, new { @class = "form-control", @placeholder = "Numer Pesel" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Pacjent.Pesel)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdresyOsob.Pacjent.NIP, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AdresyOsob.Pacjent.NIP, new { @class = "form-control", @placeholder = "np. 123-132-32-12" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Pacjent.NIP)
        </div>
    </div>
        </div>
    <br />
    <h3 class="sub-title">Adres:</h3>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.AdresyOsob.Adres.Ulica, "Ulica", new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.AdresyOsob.Adres.Ulica, new { @class = "form-control", @placeholder = "Ulica" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Adres.Ulica)
        </div>

        @Html.LabelFor(model => model.AdresyOsob.Adres.NrBudynku, "Nr Bud.", new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.AdresyOsob.Adres.NrBudynku, new { @class = "form-control", @placeholder = "nr budynku" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Adres.NrBudynku)
        </div>

        @Html.LabelFor(model => model.AdresyOsob.Adres.NrMieszkania, "Nr Lokalu", new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.AdresyOsob.Adres.NrMieszkania, new { @class = "form-control", @placeholder = "nr lokalu" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Adres.NrBudynku)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdresyOsob.Adres.KodPocztowy, "Kod Pocztowy", new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.AdresyOsob.Adres.KodPocztowy, new { @class = "form-control", @placeholder = "Kod Pocztowy" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Adres.KodPocztowy)
        </div>
        @Html.LabelFor(model => model.AdresyOsob.Adres.Miejscowosc, "Miejscowość", new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.AdresyOsob.Adres.Miejscowosc, new { @class = "form-control", @placeholder = "Miejscowość" })
            @Html.ValidationMessageFor(model => model.AdresyOsob.Adres.Miejscowosc)
        </div>
    </div>
    <br /> <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-7">
            <input type="submit" class="btn btn-success col-md-10" value="Zapisz" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
