@model Przuchodnia_Medyczna_Inz.ViewModel.AdresyOsobVM

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj Pacjenta</h2>


@using (Html.BeginForm("Create", "Pacjent", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br/>
        <h4>Pacjent</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Pacjent.Imie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Pacjent.Imie, new { @class = "form-control", @placeholder = "Imie" })
                @Html.ValidationMessageFor(model => model.Pacjent.Imie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pacjent.Nazwisko, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Pacjent.Nazwisko, new { @class = "form-control", @placeholder = "Nazwisko" })
                @Html.ValidationMessageFor(model => model.Pacjent.Nazwisko)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pacjent.Telefon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Pacjent.Telefon, new { @class = "form-control", @placeholder = "Numer telefonu" })
                @Html.ValidationMessageFor(model => model.Pacjent.Telefon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pacjent.PESEL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Pacjent.PESEL, new { @class = "form-control", @placeholder = "Numer PESEL" })
                @Html.ValidationMessageFor(model => model.Pacjent.PESEL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pacjent.NIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Pacjent.NIP, new { @class = "form-control", @placeholder="np. 123-132-32-12" })
                @Html.ValidationMessageFor(model => model.Pacjent.NIP)
            </div>
        </div><br/>
    
        <h2>Adres</h2>

        <hr />
       
        <div class="form-group">
            @Html.LabelFor(model => model.Adres.Ulica, "Ulica", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Adres.Ulica, new { @class = "form-control", @placeholder= "Ulica"})
                @Html.ValidationMessageFor(model => model.Adres.Ulica)
            </div>
        
            @Html.LabelFor(model => model.Adres.NrBudynku, "Nr Bud.", new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.TextBoxFor(m => m.Adres.NrBudynku, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Adres.NrBudynku)
            </div>        
        
            @Html.LabelFor(model => model.Adres.NrMieszkania, "Nr Lokalu", new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.TextBoxFor(m => m.Adres.NrMieszkania, new { @class = "form-control", @placeholder = "nr lokalu" })
                @Html.ValidationMessageFor(model => model.Adres.NrMieszkania)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Adres.KodPocztowy, "Kod Pocztowy", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Adres.KodPocztowy, new { @class = "form-control", @placeholder = "Kod Pocztowy" })
                @Html.ValidationMessageFor(model => model.Adres.KodPocztowy)
            </div>
            @Html.LabelFor(model => model.Adres.Miejscowosc, "Miejscowość", new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Adres.Miejscowosc, new { @class = "form-control", @placeholder ="Miejscowość" })
                @Html.ValidationMessageFor(model => model.Adres.Miejscowosc)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
