@model Przuchodnia_Medyczna_Inz.Models.Pacjent


@{
    ViewBag.Title = "Wizyty";
}
<style>
    tr:nth-child(even) {
        background-color: #rgba(163, 226, 254, 0.24);
    }
</style>
<div class="col-md-8 col-md-offset-4">
    <br />
    <h2 class="title">Dane Pacjenta</h2>
</div>
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.OsobaID)
    <div class="container">
        <div class="row">
            <h4 class="sub-title">Dane Pacjenta:</h4>
            <hr />
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        <b>Imie Nazwisko</b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ImieNazwisko)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefon)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telefon)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Pesel)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Pesel)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NIP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NIP)
                    </dd>
                    <br />
                    <b class="sub-title">Adres</b>
                    <dt>
                        @Html.DisplayNameFor(model => model.Adres.Ulica)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Adres.Ulica) @Html.DisplayFor(model => model.Adres.NrBudynku)/@Html.DisplayFor(model => model.Adres.NrMieszkania)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Adres.KodPocztowy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Adres.KodPocztowy) @Html.DisplayFor(model => model.Adres.Miejscowosc)
                    </dd>
                </dl>
            </div>

            <div class="col-md-6">
                <h4 class="sub-title"> Umówione wizyty pacjenta :</h4>                 
                <br />                  
                <table class="table" style="border: 2px solid rgba(163, 226, 254, 0.24); 177, 246, 0.44px); box-shadow: 9px 7px 20px rgba(72, 177, 246, 0.44);">
                    <tr>
                        <th>Data</th>
                        <th>Godzina</th>
                        <th>Uwagi</th>

                    </tr>
                    @foreach (var item in Model.Wizyty)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Godzina)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Uwagi)
                            </td>
                            <td>
                                <a href="@Url.Action("Delete", "Wizyta", new { id = item.WizytaID, pacjentId = item.PacjentID })" data-toggle="modal" data-target="#wizyta-delete" title="Anuluj wizytę">
                                    <i class="fa fa-calendar-times-o" style="font-size:25px"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
<div class="col-md-12">
    <a href="@Url.Action("Index", "Pacjent")" title="Powrót">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size: 25px;"></span>
    </a>
</div>
<div id="wizyta-delete" class="modal fade hidden-print" tabindex="-1" role="dialog">
</div>
<script type="text/javascript">

    var emptyModalContent = function () {
        $('#wizyta-delete').removeData('bs.modal').find('.modal-content').empty();
    };
    $('#wizyta-delete').on('hidden.bs.modal', function () {
        emptyModalContent();
    });
</script>
